{% extends 'base.html.twig' %}

{% block body %}
	<h1>Erreur interne</h1>
	<p>
		Une erreur interne est survenue. Vérifiez l'orthographe ou
		<a href="{{ path('app_home') }}">retour à la page d'accueil</a>.
	</p>
{% endblock %}
